@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Final Grade Calculator</h2>
<div class="form-center">
    <form>
        <fieldset style="border-radius: 10px;">
            <label for="assignments">Assignments</label>
            <input type="number" id="assignments"><br><br>
            <label for="group_projects">Group Projects</label>
            <input type="number" id="group_projects"><br><br>
            <label for="quizzes">Quizzes</label>
            <input type="number" id="quizzes"><br><br>
            <label for="exams">Exams</label>
            <input type="number" id="exams"><br><br>
            <label for="intex">Intex</label>
            <input type="number" id="intex"><br><br>
            <div class="buttonHolder">
                <input value="Calculate" type="button" id="calculate">
            </div>
        </fieldset>
    </form>
</div>

<script src="~/js/Calculator.js"></script>