@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Mark Vogt Home Page";
}


<h1>Mark Vogt</h1>

<img style="width: 450px; border-radius: 10px;" src="img/fishing.jpg" />
<br>

<div class="ex1">
    <p>
        This is is a change

        The coding scene has always intimidated me so I have already started feeling a little nervous about IS 413.
        I really hope to feel a lot more comfortable with coding after taking this class. I also hope I can start enjoying building website applications more!
    </p>

</div>
<br>

<div class="ex1" style="border-style: solid; border-radius: 10px;">
    <h3><u>My Top 3 Jobs I'm Interested in After Graduation</u></h3>

    <ol>
        <li><b>SalesForce Consultant</b></li>
        <li><b>CyberSecurity Consultant</b></li>
        <li><b>CEO of a self startup</b></li>
    </ol>
</div>
<br>


